Package            Version 
------------------ --------
certifi            2023.5.7
charset-normalizer 3.1.0   
gitdb              4.0.10  
GitPython          3.1.31  
idna               3.4     
javalang           0.13.0  
numpy              1.24.4  
pandas             2.0.3   
pip                20.0.2  
pkg-resources      0.0.0   
python-dateutil    2.8.2   
pytz               2023.3  
requests           2.31.0  
setuptools         44.0.0  
six                1.16.0  
smmap              5.0.0   
tzdata             2023.3  
urllib3            2.0.3   
